@model hrms_min_ASP_Net_Core_Project.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desigantion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desigantion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>
        <input type="hidden" asp-for="ProfileImage" />
        @if (Model.ProfileImage != null)
        {
            <div class="mb-2">
                <img src="~/image/@Model.ProfileImage" width="100" />
            </div>
        }
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
